/************* Big Block Elements *************/
.mw-theme-movie-details-page {
    margin-left: 20px;
}
/************* Big Block Elements *************/


/************* Small Block Elements *************/
.mw-theme-movie-title {
    font-size: 33px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.mw-theme-movie-original-title {
    font-size: 17px;
    margin-bottom: 20px;
}
/************* Small Block Elements *************/


/************* Column Elements *************/
.mw-theme-movie-logo-column {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 30px;
}

.mw-theme-movie-details-column {
    display: inline-block;
    width: 450px;
    margin-right: 20px;
    vertical-align: top;
    line-height: 2em;
    font-size: 17px;
}

.mw-theme-movie-overview-column {
    display: inline-block;
    width: 600px;
    vertical-align: top;
    text-align: justify;
    font-size: 20px;
    line-height: 1.5em;
    text-justify: inter-word;
}
/************* Column Elements *************/


/************* Inline Elements *************/
.mw-theme-movie-desc-headers {
    font-size: 23px;
    color: #777373;
}

.mw-theme-movie-desc {
    font-size: 20px;
    color: #1870b5;
}
/************* Inline Elements *************/